{% extends 'pruebaPlantilla.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

<main class="flex items-center container py-20">
    <section class=" card card-body p-20">
        <h1  class="text-2xl font-bold text-center mb-6">Monitoreo de Proyectos NISIRA</h1>
        <p>
            En esta página podrás crear Proyectos que contengan: Fases y Costos asociados, que permitirán tener una plena y holística visualización de cómo va el avance 
            de tu proyecto al mando.
            En la sección de Dashboard podrás ver con toda la data que has creado algunas métricas asociadas que te permitirán tomar decisiones informadas y gestionar
            mejor a tu equipo a cargo.
            <br><br><b>Recuerda que debes crearte primero un usuario y contraseña.</b>
        </p>
    </section>
</main>


{% endblock %}